:root{
    --bg-btn: rgb(255, 199, 106);
    --bg-theme: #141414;
    --bg-menu-bar: #242424;
    --bg-item-menu: #665539;
    --bg-text-menu: #cbc8c8;
    --color-icon-non-active: #cbc8c8;
    --bg-disable: #e9ecef;
    --color-text-active: rgb(255, 199, 106);
    --color-text: #999;
    --bg-hover-icon: #1e1e1e8a;
    --bg-text-title: #fff;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --vz-body-color: #ced4da;
    --vz-body-color-rgb: 206, 212, 218;
    --vz-body-bg: #041324;
    --vz-body-bg-rgb: 4, 19, 36;
    --vz-emphasis-color: #fff;
    --vz-emphasis-color-rgb: 255, 255, 255;
    --vz-secondary-color: #878a99;
    --vz-secondary-color-rgb: 135, 138, 153;
    --vz-secondary-bg: #05192f;
    --vz-secondary-bg-rgb: 5, 25, 47;
    --vz-tertiary-color: #a6afb8;
    --vz-tertiary-color-rgb: 166, 175, 184;
    --vz-tertiary-bg: #061f3b;
    --vz-tertiary-bg-rgb: 6, 31, 59;
    --vz-primary-text-emphasis: #a386d7;
    --vz-secondary-text-emphasis: #6ca0ff;
    --vz-success-text-emphasis: #66c99b;
    --vz-info-text-emphasis: #65b9de;
    --vz-warning-text-emphasis: #ffd57c;
    --vz-danger-text-emphasis: #f18275;
    --vz-light-text-emphasis: #434e5b;
    --vz-dark-text-emphasis: #4f5a66;
    --vz-primary-bg-subtle: rgba(140, 104, 205, 0.15);
    --vz-secondary-bg-subtle: rgba(71, 136, 255, 0.15);
    --vz-success-bg-subtle: rgba(64, 187, 130, 0.15);
    --vz-info-bg-subtle: rgba(63, 167, 214, 0.15);
    --vz-warning-bg-subtle: rgba(255, 202, 91, 0.15);
    --vz-danger-bg-subtle: rgba(238, 99, 82, 0.15);
    --vz-light-bg-subtle: rgba(6, 30, 57, 0.18);
    --vz-dark-bg-subtle: #1d2b3a;
    --vz-primary-border-subtle: #5b4485;
    --vz-secondary-border-subtle: #244480;
    --vz-success-border-subtle: #205e41;
    --vz-info-border-subtle: #20546b;
    --vz-warning-border-subtle: #80652e;
    --vz-danger-border-subtle: #773229;
    --vz-light-border-subtle: #222f3e;
    --vz-dark-border-subtle: #2a3645;
    --vz-heading-color: #ced4da;
    --vz-link-color: #e8e1f5;
    --vz-link-hover-color: #ede7f7;
    --vz-link-color-rgb: 232, 225, 245;
    --vz-link-hover-color-rgb: 237, 231, 247;
    --vz-code-color: #f672a7;
    --vz-highlight-color: #ced4da;
    --vz-highlight-bg: #665124;
    --vz-border-color: #2a4562;
    --vz-border-color-translucent: #2a4562;
    --vz-form-valid-color: #66c99b;
    --vz-form-valid-border-color: #66c99b;
    --vz-form-invalid-color: #f18275;
    --vz-form-invalid-border-color: #f18275;
}